%footer.text-center
  .footer-above
    .container
      .row
        .footer-col.col-md-12
          %ul.list-inline
            %li
              %a.btn-social.btn-outline{:href => "http://facebook.com/ferperalesm", :target => "_blank"}
                %i.fa.fa-fw.fa-facebook
            %li
              %a.btn-social.btn-outline{:href => "http://twitter.com/ferperalesm", :target => "_blank"}
                %i.fa.fa-fw.fa-twitter
            %li
              %a.btn-social.btn-outline{:href => "http://instagram.com/ferperales", :target => "_blank"}
                %i.fa.fa-fw.fa-instagram
            %li
              %a.btn-social.btn-outline{:href => "http://blog.ferperales.net", :target => "_blank"}
                %i.fa.fa-fw.fa-rss
            %li
              %a.btn-social.btn-outline{:href => "http://linkedin.com/in/ferperales", :target => "_blank"}
                %i.fa.fa-fw.fa-linkedin
            %li
              %a.btn-social.btn-outline{:href => "http://github.com/ferperales", :target => "_blank"}
                %i.fa.fa-fw.fa-github-alt
            %li
              %a.btn-social.btn-outline{:href => "http://steamcommunity.com/id/ferperales", :target => "_blank"}
                %i.fa.fa-fw.fa-steam
  .footer-below
    .container
      .row
        .col-lg-12
          = footer_info
