%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#page-top"} Fer Perales
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.page-scroll
          %a{:href => "/"} Home
        %li.page-scroll
          %a{:href => "/resume"} Resume
        %li.page-scroll
          %a{:href => "/talks"} Talks
        %li.page-scroll
          %a{:href => "/contact"} Contact
    / /.navbar-collapse
  / /.container-fluid
