	<div class="banner-container">
			<!-- Banner -->
			<div class="banner">
				<ul>
					<!-- Slide One -->

					<li data-transition="slotzoom-horizontal" data-slotamount="1">
						<!-- Image -->
						<img src="rs-slider/transparent.png" style="background-color:#f75353" alt="" class="img-responsive" />

						<!-- Heading for Slide One -->
						<div class="caption tp-caption large_bold_white sfr "
							data-x="center"
							data-y="70"
							data-speed="500"
							data-start="2000"
							data-easing="easeOutSine">
								Welcome Back!!!
						</div>

						<!-- Paragraph for Slide One -->
						<div class="caption tp-caption small_light_white sfl text-center"
							data-x="center"
							data-y="150"
							data-speed="500"
							data-start="2700"
							data-easing="easeOutSine">
								Righteous indignation and dislike men who beguiled and demoralized <br /> charms of pleasure of the moment, so blinded by desire.
						</div>

						<!-- Image -->
						<div class="caption sfb"
							data-x="left"
							data-y="250"
							data-hoffset="40"
							data-speed="500"
							data-start="3400"
							data-easing="easeOutSine">
								<img src="rs-slider/iphone-blue.png" alt="" class="img-responsive" />
						</div>

						<div class="caption sfb"
							data-x="center"
							data-y="250"
							data-speed="500"
							data-start="4100"
							data-easing="easeOutSine">
								<img src="rs-slider/iphone-green.png" alt="" class="img-responsive" />
						</div>

						<div class="caption sfb"
							data-x="right"
							data-y="250"
							data-hoffset="-40"
							data-speed="500"
							data-start="4800"
							data-easing="easeOutSine">
								<img src="/rs-slider/iphone-orange.png" alt="" class="img-responsive" />
						</div>
					</li>

					<!-- Slide Two -->

					<li data-transition="slotzoom-horizontal" data-slotamount="1">
						<!-- Image -->
            <%= image_tag "rs-slider/transparent", style:"background-color:#333", alt: '', class:'img-responsive' %>

						<div class="caption tp-caption large_bold_white sft"
							data-x="center"
							data-y="70"
							data-speed="500"
							data-start="2000"
							data-easing="easeOutSine">
								It's Metro
						</div>

						<div class="caption tp-caption small_light_white sfb text-center"
							data-x="center"
							data-y="150"
							data-speed="500"
							data-start="2300"
							data-easing="easeOutSine">
								Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores<br /> et quas molestias excepturi sint occaecati cupiditate non provident.
						</div>

						<div class="caption tp-caption tp-resizeme sft"
							data-x="center"
							data-y="230"
							data-speed="500"
							data-start="2900"
							data-easing="easeOutSine">
							<a href="#" class="caption-button br-lblue">Download Now</a>&nbsp;
							<a href="#" class="caption-button br-red">View Demo</a>
						</div>

						<div class="caption tp-caption sfb large_bold_grey text-center"
							data-x="center"
							data-y="300"
							data-speed="500"
							data-start="3300"
							data-easing="easeOutSine">
								Our Service
						</div>

						<!-- Slide Left Side -->
						<!-- Icon for slide Two -->
						<div class="caption tp-caption lfb stwo_icon"
							data-x="130"
							data-y="400"
							data-speed="500"
							data-start="3800"
							data-easing="easeOutSine">
								<i class="fa fa-anchor"></i>
						</div>

						<div class="caption tp-caption lfl stwo_head br-red"
							data-x="105"
							data-y="520"
							data-speed="500"
							data-start="4200"
							data-easing="easeOutSine">
								Repudiandae
						</div>

						<div class="caption tp-caption lfb stwo_icon"
							data-x="330"
							data-y="400"
							data-speed="500"
							data-start="4700"
							data-easing="easeOutSine">
								<i class="fa fa-briefcase"></i>
						</div>

						<div class="caption tp-caption lfl stwo_head br-lblue"
							data-x="300"
							data-y="520"
							data-speed="500"
							data-start="5100"
							data-easing="easeOutSine">
								Untrammelled
						</div>

						<div class="caption tp-caption lfb stwo_icon"
							data-x="530"
							data-y="400"
							data-speed="500"
							data-start="5600"
							data-easing="easeOutSine">
								<i class="fa fa-gift"></i>
						</div>

						<div class="caption tp-caption lfl stwo_head br-green"
							data-x="505"
							data-y="520"
							data-speed="500"
							data-start="5900"
							data-easing="easeOutSine">
								Denouncing
						</div>

						<!-- Slide Right Side -->
						<div class="caption tp-caption lfb stwo_icon"
							data-x="720"
							data-y="400"
							data-speed="500"
							data-start="6300"
							data-easing="easeOutSine">
								<i class="fa fa-magnet"></i>
						</div>

						<div class="caption tp-caption lfl stwo_head  br-orange"
							data-x="700"
							data-y="520"
							data-hoffset="40"
							data-speed="500"
							data-start="6800"
							data-easing="easeOutSine">
								Dignissimos
						</div>
					</li>


					<!-- Slide Three -->

					<li data-transition="slotzoom-horizontal" data-slotamount="1">
					<!-- Image -->
						<img src="img/rs-slider/transparent.png" style="background-color:#333" alt="" class="img-responsive" />

						<div class="caption tp-caption sfl tp-resizeme sthree_image"
							data-x="30"
							data-y="150"
							data-speed="500"
							data-start="2000"
							data-easing="easeOutSine">
								<img src="img/rs-slider/ipad-violet.png" alt="" class="img-responsive" />
						</div>

						<!-- Slide Three Heading -->
						<div class="caption tp-caption sft large_bold_white"
							data-x="480"
							data-y="150"
							data-speed="500"
							data-start="2500"
							data-easing="easeOutSine">
								Exercitationem
						</div>

						<!-- Slide Three Paragraph -->
						<div class="caption tp-caption sfr medium_text"
							data-x="480"
							data-y="220"
							data-speed="500"
							data-start="3000"
							data-easing="easeOutSine">
								Voluptatum deleniti atque corrupti dolores quas molestias<br /> et quas molestias excepturi sint cupiditate<br />deleniti atque corrupti quos non provident corrupti dolores <br />quas molestias deleniti atque corruptii.
						</div>

						<!-- Slide Three Button -->
						<div class="caption tp-caption tp-resizeme sfb"
							data-x="480"
							data-y="350"
							data-speed="500"
							data-start="3500"
							data-easing="easeOutSine">
								<a href="#" class="caption-button br-green">New User</a>&nbsp;
								<a href="#" class="caption-button br-red">Existing User</a>
						</div>

						<div class="caption tp-caption lft tp-resizeme large_text sthree_icon"
							data-x="30"
							data-y="550"
							data-speed="500"
							data-start="3800"
							data-easing="easeOutSine">
							<span class="br-red"> <i class="fa fa-desktop"></i> Dignissimo</span>
						</div>

						<div class="caption tp-caption lft tp-resizeme large_text sthree_icon"
							data-x="260"
							data-y="550"
							data-speed="500"
							data-start="4200"
							data-easing="easeOutSine">
							<span class="br-lblue"> <i class="fa fa-leaf"></i> Untrammell</span>
						</div>

						<div class="caption tp-caption lft tp-resizeme large_text sthree_icon"
							data-x="500"
							data-y="550"
							data-speed="500"
							data-start="4600"
							data-easing="easeOutSine">
							<span class="br-green"> <i class="fa fa-cloud"></i> Occasional</span>
						</div>

						<div class="caption tp-caption lft tp-resizeme large_text sthree_icon"
							data-x="730"
							data-y="550"
							data-speed="500"
							data-start="5000"
							data-easing="easeOutSine">
							<span class="br-brown"> <i class="fa fa-envelope-o"></i> Indination</span>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- Revolution Slider Ends -->


