.banner-container
  / Banner
  .banner
    %ul
      / Slide One
      %li{"data-slotamount" => "1", "data-transition" => "slotzoom-horizontal"}
        / Image
        %img.img-responsive{:alt => "", :src => "rs-slider/transparent.png", :style => "background-color:#f75353"}/
        / Heading for Slide One
        .caption.tp-caption.large_bold_white.sfr{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2000", "data-x" => "center", "data-y" => "70"}
          Welcome Back!!!
        / Paragraph for Slide One
        .caption.tp-caption.small_light_white.sfl.text-center{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2700", "data-x" => "center", "data-y" => "150"}
          Righteous indignation and dislike men who beguiled and demoralized
          %br/
          charms of pleasure of the moment, so blinded by desire.
        / Image
        .caption.sfb{"data-easing" => "easeOutSine", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "3400", "data-x" => "left", "data-y" => "250"}
          %img.img-responsive{:alt => "", :src => "rs-slider/iphone-blue.png"}/
        .caption.sfb{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4100", "data-x" => "center", "data-y" => "250"}
          %img.img-responsive{:alt => "", :src => "rs-slider/iphone-green.png"}/
        .caption.sfb{"data-easing" => "easeOutSine", "data-hoffset" => "-40", "data-speed" => "500", "data-start" => "4800", "data-x" => "right", "data-y" => "250"}
          %img.img-responsive{:alt => "", :src => "/rs-slider/iphone-orange.png"}/
      / Slide Two
      %li{"data-slotamount" => "1", "data-transition" => "slotzoom-horizontal"}
        / Image
        = image_tag "rs-slider/transparent", style:"background-color:#333", alt: '', class:'img-responsive'
        .caption.tp-caption.large_bold_white.sft{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2000", "data-x" => "center", "data-y" => "70"}
          It's Metro
        .caption.tp-caption.small_light_white.sfb.text-center{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2300", "data-x" => "center", "data-y" => "150"}
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          %br/
          et quas molestias excepturi sint occaecati cupiditate non provident.
        .caption.tp-caption.tp-resizeme.sft{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2900", "data-x" => "center", "data-y" => "230"}
          %a.caption-button.br-lblue{:href => "#"}> Download Now
          \&nbsp;
          %a.caption-button.br-red{:href => "#"} View Demo
        .caption.tp-caption.sfb.large_bold_grey.text-center{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3300", "data-x" => "center", "data-y" => "300"}
          Our Service
        / Slide Left Side
        / Icon for slide Two
        .caption.tp-caption.lfb.stwo_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3800", "data-x" => "130", "data-y" => "400"}
          %i.fa.fa-anchor
        .caption.tp-caption.lfl.stwo_head.br-red{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4200", "data-x" => "105", "data-y" => "520"}
          Repudiandae
        .caption.tp-caption.lfb.stwo_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4700", "data-x" => "330", "data-y" => "400"}
          %i.fa.fa-briefcase
        .caption.tp-caption.lfl.stwo_head.br-lblue{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "5100", "data-x" => "300", "data-y" => "520"}
          Untrammelled
        .caption.tp-caption.lfb.stwo_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "5600", "data-x" => "530", "data-y" => "400"}
          %i.fa.fa-gift
        .caption.tp-caption.lfl.stwo_head.br-green{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "5900", "data-x" => "505", "data-y" => "520"}
          Denouncing
        / Slide Right Side
        .caption.tp-caption.lfb.stwo_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "6300", "data-x" => "720", "data-y" => "400"}
          %i.fa.fa-magnet
        .caption.tp-caption.lfl.stwo_head.br-orange{"data-easing" => "easeOutSine", "data-hoffset" => "40", "data-speed" => "500", "data-start" => "6800", "data-x" => "700", "data-y" => "520"}
          Dignissimos
      / Slide Three
      %li{"data-slotamount" => "1", "data-transition" => "slotzoom-horizontal"}
        / Image
        %img.img-responsive{:alt => "", :src => "img/rs-slider/transparent.png", :style => "background-color:#333"}/
        .caption.tp-caption.sfl.tp-resizeme.sthree_image{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2000", "data-x" => "30", "data-y" => "150"}
          %img.img-responsive{:alt => "", :src => "img/rs-slider/ipad-violet.png"}/
        / Slide Three Heading
        .caption.tp-caption.sft.large_bold_white{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "2500", "data-x" => "480", "data-y" => "150"}
          Exercitationem
        / Slide Three Paragraph
        .caption.tp-caption.sfr.medium_text{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3000", "data-x" => "480", "data-y" => "220"}
          Voluptatum deleniti atque corrupti dolores quas molestias
          %br/
          et quas molestias excepturi sint cupiditate
          %br>/
          deleniti atque corrupti quos non provident corrupti dolores
          = succeed "quas" do
            %br/
          molestias deleniti atque corruptii.
        / Slide Three Button
        .caption.tp-caption.tp-resizeme.sfb{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3500", "data-x" => "480", "data-y" => "350"}
          %a.caption-button.br-green{:href => "#"}> New User
          \&nbsp;
          %a.caption-button.br-red{:href => "#"} Existing User
        .caption.tp-caption.lft.tp-resizeme.large_text.sthree_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "3800", "data-x" => "30", "data-y" => "550"}
          %span.br-red
            %i.fa.fa-desktop
            Dignissimo
        .caption.tp-caption.lft.tp-resizeme.large_text.sthree_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4200", "data-x" => "260", "data-y" => "550"}
          %span.br-lblue
            %i.fa.fa-leaf
            Untrammell
        .caption.tp-caption.lft.tp-resizeme.large_text.sthree_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "4600", "data-x" => "500", "data-y" => "550"}
          %span.br-green
            %i.fa.fa-cloud
            Occasional
        .caption.tp-caption.lft.tp-resizeme.large_text.sthree_icon{"data-easing" => "easeOutSine", "data-speed" => "500", "data-start" => "5000", "data-x" => "730", "data-y" => "550"}
          %span.br-brown
            %i.fa.fa-envelope-o
            Indination
/ Revolution Slider Ends
