<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'profile.png', class: "img-responsive", alt: "" %>
        <div class="intro-text">
          <span class="name">About me</span>
          <hr class="star-light">
          <span class="skills">
            <div class="bio">
              <p>
                Hi! I'm Fer Perales from Jalisco, Mexico but I'm living in Colima, Mexico. I'm a software craftsman apprentice who finished his B. Sc. in Computer Engineering at the <a href="http://www.udg.mx/en" title="" target="_blank">Universidad de Guadalajara</a> campus <a href="http://www.udg.mx/en/university-network/university-centers/cucei" title="" target="_blank">CUCEI</a> (spanish for University Center of Exact Sciences and Engineering).
              </p>
              <p>
                I'm Software Engineer at <a href="http://crowdint.com" title="" target="_blank">Crowd Interactive</a>, a company that creates cool stuff for startups from the United States.
              </p>
              <p>
              <a href='http://www.pclinuxos.com/' target='_blank'>PCLinuxOS</a>/<a href='http://ubuntu.com/' target='_blank'>Ubuntu</a>/<a href='http://lubuntu.net/' target='_blank'>Lubuntu</a> user, <a href="http://en.wikipedia.org/wiki/Free_and_open_source_software" title="" target="_blank">FLOSS</a> advocate, electric bass student, lean startup movement lover and passionate about web and mobile development.
              </p>
              <p>
                I'm also interested in amateur musical production, indie game development, photography, digital electronics, gadgets, cycling, teaching and traveling.
              </p>
              <p>Some of the things I love are:</p>
              <p>
                Blender, GIMP, Inkscape, Java, C, Python, JavaScript, Ruby, Audacity, Arduour, Rosegarden, TuxGuitar, Heavy metal, Thrash metal, Doom metal, Power metal, Neural networks, Expert systems, Fuzzy logic, Bio-inspired systems, Android.
              </p>
          </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


