%section
  .container
    .row
      .col-lg-12
        = image_tag 'profile.png', class: "img-responsive", alt: "", width: '301px', height: '301px'
        .intro-text
          %span.name About me
          %hr.star-light/
          %span.skills
          .bio
            %p
              Hi! I'm Fer Perales from Jalisco, Mexico but I'm living in Colima, Mexico. I'm a software craftsman apprentice who finished his B. Sc. in Computer Engineering at the
              %a{:href => "http://www.udg.mx/en", :target => "_blank", :title => ""} Universidad de Guadalajara
              campus
              %a{:href => "http://www.udg.mx/en/university-network/university-centers/cucei", :target => "_blank", :title => ""} CUCEI
              (spanish for University Center of Exact Sciences and Engineering).
            %p
              I'm Software Engineer at
              = succeed "," do
                %a{:href => "http://crowdint.com", :target => "_blank", :title => ""} Crowd Interactive
              a company that creates cool stuff for startups from the United States.
            %p
              %a{:href => "http://www.pclinuxos.com/", :target => "_blank"}> PCLinuxOS
              \/
              %a{:href => "http://ubuntu.com/", :target => "_blank"}> Ubuntu
              \/
              %a{:href => "http://lubuntu.net/", :target => "_blank"} Lubuntu
              user,
              %a{:href => "http://en.wikipedia.org/wiki/Free_and_open_source_software", :target => "_blank", :title => ""} FLOSS
              advocate, electric bass student, lean startup movement lover and passionate about web and mobile development.
            %p
              I'm also interested in amateur musical production, indie game development, photography, digital electronics, gadgets, cycling, teaching and traveling.
            %p Some of the things I love are:
            %p
              Blender, GIMP, Inkscape, Java, C, Python, JavaScript, Ruby, Audacity, Arduour, Rosegarden, TuxGuitar, Heavy metal, Thrash metal, Doom metal, Power metal, Neural networks, Expert systems, Fuzzy logic, Bio-inspired systems, Android.
