<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'profile.png', class: "img-responsive", alt: "" %>
        <div class="intro-text">
          <span class="name">About me</span>
          <hr class="star-light">
          <span class="skills">
            <script src="//about.me/embed/ferperales?image=0&amp;name=0&amp;apps=0&amp;style=site"></script>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>


