<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Resume</span>
          <hr class="star-light">
          <div class='row'>
            <div class='col-lg-4 pull-left section-left'>
              <h2>
                <i class='fa fa-user'></i>
                Personal information
              </h2>
              <p>
                <i class='fa fa-calendar'></i>
                October 17th, 1989
              </p>
              <p>
                <i class='fa fa-map-marker'></i>
                Colima, Colima, Mexico
              </p>
              <p>
                <i class='fa fa-envelope-o'></i>
                <a href='mailto:me@ferperales.net'>me@ferperales.net</a>
              </p>
              <p>
                <i class='fa fa-mobile-phone'></i>
                33 1088 5718
              </p>
              <p>
              <i class='fa fa-skype'></i>
              <a href='skype:ferperalesm?chat'>FerPeralesM</a>
              </p>
            </div>
            <div class='col-lg-4 pull-right section-right'>
              <h2>
                Social
                <i class='fa fa-comments-o'></i>
              </h2>
              <p>
              <a href='http://ferperales.net'>ferperales.net</a>
              <i class='fa fa-home'></i>
              </p>
              <p>
              <a href='http://blog.ferperales.net' target='_blank'>blog.ferperales.net</a>
              <i class='fa fa-rss'></i>
              </p>
              <p>
              <a href='http://linkedin.com/in/FerPerales' target='_blank'>linkedin.com/in/FerPerales</a>
              <i class='fa fa-linkedin'></i>
              </p>
              <p>
              <a href='http://github.com/FerPerales' target='_blank'>github.com/FerPerales</a>
              <i class='fa fa-github-alt'></i>
              </p>
              <p>
              <a href='http://twitter.com/FerPeralesM' target='_blank'>@FerPeralesM</a>
              <i class='fa fa-twitter'></i>
              </p>
            </div>
          </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class='fa fa-book'></span>
                Academic formation
                <span class='fa fa-book'></span>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class='accordion-body collapse in' id='collapseOne'>
                <div class='accordion-inner'>
                  <h4 class='centered-text'>University of Guadalajara – University Center of Exact Sciences and Engineering (CUCEI)</h4>
                  <p>
                    B. Cs. Computer Engineering
                  </p>
                  <p>
                    2008 - 2012
                  </p>
                  <h4 class='centered-text'>Instituto Cultural Mexicano-Norteamericano de Jalisco</h4>
                  <p>
                    Basic program of English for Adults (1 year)
                  </p>
                  <p>
                    Proficiency program of English for Adults (1 year)
                  </p>
                  <p>
                    Teacher Training Program (1 year)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class='fa fa-cog'></span>
                  Technical Experience
                <span class='fa fa-cog'></span>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
               <div class='accordion-body collapse in' id='collapseOne'>
                <div class='accordion-inner'>
                  <div class='row'>
                    <div class='col-lg-5 pull-left section-left'>
                      <h4>Programming languages</h4>
                      <ul>
                        <li>
                          Java
                        </li>
                        <li>
                          C
                        </li>
                        <li>
                          C#
                        </li>
                        <li>
                          Python
                        </li>
                        <li>
                          Ruby
                        </li>
                      </ul>
                      <h4>Web development</h4>
                      <ul>
                        <li>
                          HTML5
                        </li>
                        <li>
                          CSS3
                        </li>
                        <li>
                          JavaScript
                        </li>
                        <li>
                          PHP
                        </li>
                        <li>
                          Ajax
                        </li>
                      </ul>
                    </div>
                    <div class='col-lg-5 pull-right section-right'>
                      <h4>Mobile development</h4>
                      <ul class='right-bullet' dir='rtl'>
                        <li>
                          Android
                        </li>
                      </ul>
                      <h4>Frameworks, APIs and other tools</h4>
                      <ul class='right-bullet' dir='rtl'>
                        <li>
                          JDBC/ODBC
                        </li>
                        <li>
                          Foundation and Bootstrap
                        </li>
                        <li>
                          jQuery
                        </li>
                        <li>
                          jasperReports
                        </li>
                        <li>
                          Drupal/Wordpress
                        </li>
                        <li>
                          backbone.js, knockout.js and sammy.js
                        </li>
                        <li>
                          node.js
                        </li>
                        <li>
                          Twitter API PHP
                        </li>
                      </ul>
                    </div>
                    <div class='row'>
                      <div class='col-lg-12'>
                        <h4>Extras</h4>
                        <ul>
                          <li>
                            Databases (mySQL, postgreSQL and BD2)
                          </li>
                          <li>
                            CASE tools (DIA, mySQL Workbench)
                          </li>
                          <li>
                            Mockup tools (Pencil, Balsamiq mockups)
                          </li>
                          <li>
                            IDEs/text editors (Eclipse, AptanaStudio, SharpDevelop, Codeblock, SublimeText, vim)
                          </li>
                          <li>
                            Scripting (basic knowledge of CMD and BASH)
                          </li>
                          <li>
                            CVS (git)
                          </li>
                          <li>
                            Deployment (Heroku, FTP)
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class='fa fa-trophy'></span>
                Certifications and Diplomas
                <span class='fa fa-trophy'></span>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class='accordion-body collapse in' id='collapseOne'>
                <div class='accordion-inner'>
                  <p>IBM BD2 Certified Academic Associate</p>
                  <p>ICMNJ Certified Teacher Training Program</p>
                  <p> Microsoft HTML5 &amp; Internet Explorer 9 Developer Fundamentals</p>
                  <p>Oracle Certified Java Programmer</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                <span class='fa fa-briefcase'></span>
                  Professional Experience
                <span class='fa fa-briefcase'></span>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
               <div class='accordion-body collapse in' id='collapseOne'>
                <div class='accordion-inner'>
                  <h4 class='centered-text'>Crowd Interactive</h4>
                  <p>
                    Software Engineer
                  </p>
                  <p>
                    Feb 2012 - current
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
