<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Talks</span>
          <hr class="star-light">
          <span class="skills">
            <p>
            I love giving talks about programming, startups, professional carreer and technology and I feel comfortable speaking in either Spanish or English.
            </p>
            <p>
            I have also given workshops about mobile development, ruby, ruby on rails, javascript ang git. Those workshops lasted an average of three hours and I always try to make them as engaging and practical as possible.
            </p>
            <p>
            I would really appreciate your feedback in case you attended one of my talks by sharing your thoughts on the <%= link_to 'contact', page_path(id: 'contact') %> page.
            </p>
            <p>
            I'm always willing to give talks and workshops at no cost and, if you consired that I can give a talk that would be useful for you or your organization, get in touch with <%= link_to 'me', page_path(id: 'contact') %>.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
